@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root[data-theme="dark"] {
  --background: #020618;
  --foreground: #e2e8f0;
}

:root[data-theme="light"] {
  --background: #e2e8f0;
  --foreground: #020618;
}

:root[data-theme="dark"] * {
  scrollbar-color: rgba(255,255,255,0.2) transparent;
}
:root[data-theme="dark"] *::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.2);
}
:root[data-theme="dark"] *::-webkit-scrollbar-thumb:hover {
  background: rgba(255,255,255,0.4);
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0,0,0,0.3) transparent;
}
*::-webkit-scrollbar {
  width: 6px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.3);
  border-radius: 10px;
}
*::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,0.5);
}

@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
